.done {
  text-decoration: line-through;
}

h1:hover {
  color: orchid;
}
a {
  text-decoration: none;
}

/* Tried putting everything in the body at the centre. Didn't Look nice so commented it out below */

/* body {
  margin: auto;
  width: 50%;
  text-align: center;
} */
